button {
color: black;
object-position: center;


}

body{
  background-color: aquamarine;
  text-align: right;
  background-image: url("https://www.stickpng.com/assets/images/58e3852d204d556bbd97b14f.png");
  background-repeat: no-repeat;
  background-position: bottom;


}

.titles{
  font-family: 'Freckle Face', cursive;
  font-size: 60px;
  text-align: center;
}
